<%= form_for @micropost do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
<!-- Does not work with default jscript
<script type="text/javascript"> 
  $(document).ready(function(){
    $('#micropost_content').jqEasyCounter({
      'maxCharsWarning': 120
  });
});
</script> 
-->
